
<form action ='/add' method ="post">
<label for='website'>Website</label>
<input type="text" name="website" placeholder='URL'/>
<br>
<label for="bookmark_title">Bookmark Title</label>
<input type="text" name="bookmark_title" placeholder='Title' />
<br>
<input type="submit" name="Submit">
</form>
