<h1> Update that Bookmark! </h1>

<form action="/<%= @bookmark.id %>" method="post">
  <input type="text" name="url" value="<%= @bookmark.url %>" />
  <input type="text" name="title" value="<%= @bookmark.title %>" />
  <input type="submit" value="Submit" />
</form>