
<h1> Bookmark Manager </h1>

<form action='/bookmarks'>
<input type='submit' name='View Bookmarks' value="View Bookmarks">
</form>

<form action="/add">
  <button type="submit">Add new bookmark</button>
</form>
