
<h1> Bookmark Manager </h1>

<h3> Your Bookmarks: </h3>

<ul>
  <% unless @bookmarks == nil %>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
          <form action='/delete' method='post'>
            <button type='submit' name="Delete" value='<%= bookmark.id %>'>Delete</button>
          </form>
      </li>
    <% end %>
  <% end %>
</ul>

<br>
<br>

<h3> Add a new Bookmark:</h3>
<form action ='/add' method ="post">
  <label for='website'>Add Bookmark URL</label>
    <input type="text" name="website" placeholder='URL'/>
    <br>
  <label for="bookmark_title">Add Bookmark Title</label>
    <input type="text" name="bookmark_title" placeholder='Title' />
    <br>
    <br>
  <input type="submit" name="Submit">
</form>
